/* src/components/MainDash.css */
.MainDash {
    padding: 20px;
    text-align: center;
  }
  
  .MainDash h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .error-message {
    color: red;
    font-size: 16px;
  }